[Unit]
Description=Sower Client Service
After=network.target

[Service]
User=Sower
ExecStart=sower-start
WorkingDirectory=./service
Restart=always

[Install]
WantedBy=multi-user.target