[Unit]
Description=Sower Agent Service
After=network.target

[Service]
User=Sower
ExecStart=sower-start
Restart=always

[Install]
WantedBy=multi-user.target