<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous" />
</head>

<body>
  <h1 style="text-align: center;">Management Actions</h1>
  <form method="POST" action="{% url 'management' %}">
    {% csrf_token %}
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="card">
            <div class="card-header">
              Training
            </div>
            <div class="card-body">
              <button type="submit" name="TrainingStart">Start</button>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <div class="card-header">
              Upgrade Nodes version
            </div>
            <div class="card-body">
              {{ version_form.as_p }}
              <button type="submit" name="UpgradeSeed">Upgrade</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</body>
</html>